fastapi==0.115.2
uvicorn[standard]==0.30.6
python-jose==3.3.0
passlib==1.7.4
opencv-python==4.10.0.84
numpy==2.1.2
Pillow==10.4.0
pydantic==2.9.2
pydantic-settings==2.5.2
psycopg[binary]>=3.0.0
deepface==0.0.89
tf_keras>=2.20.0

